<!DOCTYPE html>
<html ng-app="demo">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

</head>
<body>

<div class="container" ng-controller="MainController as mainCtrl">
    <div class="row">
        <h1 class="col-sm-12">ng-repeat</h1>

        <div class="col-sm-12">
            <div class="form-group">
                <label for="filter">Naam</label>
                <input type="text" id="filter" class="form-control" ng-model="mainCtrl.filter">
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Index</th>
                <th>Naam</th>
                <th>E-mail</th>
                <th>Telefoon</th>
                <th>Adres</th>
                <th>Stad</th>
            </tr>
            </thead>

            <tbody>
            <!-- For every item in the array, repeat the <tr>. The item in the array is referenced as 'row' -->
            <tr ng-repeat='row in mainCtrl.data|filter:{name: mainCtrl.filter}'>
                <!-- We can get the index of the array with $index -->
                <td>{{$index}}</td>
                <td>{{row.name}}</td>
                <td><a href="mailto:{{row.email}}">{{row.email}}</a></td>
                <td>{{row.phone}}</td>
                <td>{{row.address}}</td>
                <td>{{row.city}}</td>
            </tr>

            </tbody>

        </table>

        <div class="col-sm-12">
            <pre>{{mainCtrl.data|json}}</pre>
        </div>
    </div>



</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
<script>
    angular.module('demo',[]).controller('MainController', function() {
        this.data = [
            {
                "name": "Kaitlin Lee",
                "email": "Sed@felis.co.uk",
                "phone": "+31-483-637-858",
                "addres": "Ap #115-2680 Malesuada. St.",
                "city": "Wanaka"
            },
            {
                "name": "Nathan Goodwin",
                "email": "Etiam@dictumPhasellus.com",
                "phone": "+31-973-462-555",
                "addres": "P.O. Box 974, 9504 Orci Av.",
                "city": "Tumbler Ridge"
            },
            {
                "name": "Louis Cannon",
                "email": "ac@purus.org",
                "phone": "+31-512-650-074",
                "addres": "Ap #192-3880 Commodo St.",
                "city": "Tarrasa"
            },
            {
                "name": "Nichole Dominguez",
                "email": "lectus@Sedpharetra.com",
                "phone": "+31-736-215-692",
                "addres": "P.O. Box 765, 5838 Rutrum St.",
                "city": "Murcia"
            },
            {
                "name": "Sonia Mccray",
                "email": "habitant.morbi.tristique@metusAeneansed.ca",
                "phone": "+31-225-430-485",
                "addres": "173-596 Lorem Rd.",
                "city": "Bassiano"
            },
            {
                "name": "Keith Parks",
                "email": "consectetuer.euismod@vestibulumnec.edu",
                "phone": "+31-429-345-057",
                "addres": "195-2688 Eu Street",
                "city": "Anderlues"
            },
            {
                "name": "Gail Watkins",
                "email": "est.mollis.non@MaurisnullaInteger.co.uk",
                "phone": "+31-497-787-849",
                "addres": "959-7938 Orci St.",
                "city": "Chichester"
            },
            {
                "name": "Sade Sweeney",
                "email": "at.arcu@vitaeorci.edu",
                "phone": "+31-739-306-932",
                "addres": "P.O. Box 921, 609 Nulla. Rd.",
                "city": "Warwick"
            },
            {
                "name": "Sage Blackwell",
                "email": "euismod.et.commodo@InfaucibusMorbi.ca",
                "phone": "+31-278-308-431",
                "addres": "706-850 Non, St.",
                "city": "Minucciano"
            },
            {
                "name": "Mufutau Kerr",
                "email": "nibh.sit@pretiumetrutrum.net",
                "phone": "+31-503-700-670",
                "addres": "Ap #834-8258 Ligula St.",
                "city": "Ipatinga"
            },
            {
                "name": "Adara Cross",
                "email": "metus.urna.convallis@bibendum.co.uk",
                "phone": "+31-257-283-631",
                "addres": "P.O. Box 607, 2659 Cras Street",
                "city": "Pincher Creek"
            },
            {
                "name": "Ann Tyson",
                "email": "sit.amet.nulla@volutpatNulladignissim.edu",
                "phone": "+31-208-840-195",
                "addres": "P.O. Box 175, 189 Duis Road",
                "city": "Santa Maria"
            },
            {
                "name": "Curran Dixon",
                "email": "blandit@senectus.org",
                "phone": "+31-115-175-960",
                "addres": "Ap #746-6896 Eu, Av.",
                "city": "Oromocto"
            },
            {
                "name": "Priscilla Burks",
                "email": "semper.auctor.Mauris@commodotincidunt.com",
                "phone": "+31-554-956-459",
                "addres": "2202 Suspendisse St.",
                "city": "Port Lincoln"
            },
            {
                "name": "Nina Cole",
                "email": "laoreet@convallis.org",
                "phone": "+31-468-473-127",
                "addres": "409-9191 Nonummy St.",
                "city": "Braunschweig"
            },
            {
                "name": "Gannon Norman",
                "email": "velit@tempus.edu",
                "phone": "+31-611-751-805",
                "addres": "P.O. Box 303, 1223 Et, Avenue",
                "city": "Rutland"
            },
            {
                "name": "Amy Mercado",
                "email": "purus.gravida.sagittis@atliberoMorbi.co.uk",
                "phone": "+31-566-504-173",
                "addres": "2256 Nunc Road",
                "city": "Plauen"
            },
            {
                "name": "Xantha Mueller",
                "email": "sollicitudin.commodo@vehicula.ca",
                "phone": "+31-329-874-732",
                "addres": "510-3986 Tempor, Street",
                "city": "Hulshout"
            },
            {
                "name": "Josiah Skinner",
                "email": "mauris.ut.mi@vehiculaaliquet.org",
                "phone": "+31-957-771-592",
                "addres": "250-5281 Curabitur Rd.",
                "city": "Kavaratti"
            },
            {
                "name": "Alan Leonard",
                "email": "ultrices@auctorvelitAliquam.net",
                "phone": "+31-774-387-337",
                "addres": "3672 Vitae, Street",
                "city": "Saint-Nazaire"
            },
            {
                "name": "Francesca Miller",
                "email": "sapien.molestie@utnulla.edu",
                "phone": "+31-492-727-122",
                "addres": "5645 Lobortis. Av.",
                "city": "Idar-Oberstei"
            },
            {
                "name": "Hilda Rich",
                "email": "velit.eget.laoreet@ultriciesornare.net",
                "phone": "+31-495-647-566",
                "addres": "Ap #566-3425 Non St.",
                "city": "Diadema"
            },
            {
                "name": "Signe Castro",
                "email": "magna@Aliquamgravida.org",
                "phone": "+31-828-889-134",
                "addres": "358-9611 Magna. Rd.",
                "city": "Massimino"
            },
            {
                "name": "Suki Warren",
                "email": "sollicitudin@morbitristique.ca",
                "phone": "+31-419-448-113",
                "addres": "P.O. Box 111, 3274 Nulla St.",
                "city": "Korbach"
            },
            {
                "name": "Gisela Leon",
                "email": "sodales.Mauris@Nullamsuscipitest.edu",
                "phone": "+31-499-601-216",
                "addres": "P.O. Box 932, 3377 Dui. Av.",
                "city": "Iowa City"
            },
            {
                "name": "Juliet Hawkins",
                "email": "malesuada.Integer@Sednulla.com",
                "phone": "+31-775-730-638",
                "addres": "697-5614 Sem Rd.",
                "city": "Nieuwerkerken"
            },
            {
                "name": "Sopoline Hewitt",
                "email": "arcu.Vestibulum@eros.co.uk",
                "phone": "+31-578-386-712",
                "addres": "477-2504 Ipsum Rd.",
                "city": "Buguma"
            },
            {
                "name": "Isaiah Whitney",
                "email": "Integer.mollis@Crasconvallisconvallis.edu",
                "phone": "+31-578-700-581",
                "addres": "Ap #296-2099 Aliquet, Road",
                "city": "Hoyerswerda"
            },
            {
                "name": "Natalie Finch",
                "email": "Donec.felis@nonummyutmolestie.co.uk",
                "phone": "+31-794-477-614",
                "addres": "P.O. Box 812, 3882 Quis St.",
                "city": "Masone"
            },
            {
                "name": "Darrel Wilkerson",
                "email": "Cras@ultricessitamet.com",
                "phone": "+31-421-153-425",
                "addres": "530 Quisque Avenue",
                "city": "Whitby"
            },
            {
                "name": "Jason Osborne",
                "email": "ante.dictum@ridiculus.co.uk",
                "phone": "+31-666-182-969",
                "addres": "Ap #759-5988 Nibh. Rd.",
                "city": "Lloydminster"
            },
            {
                "name": "Reece House",
                "email": "Praesent.eu@etnetus.ca",
                "phone": "+31-225-487-148",
                "addres": "P.O. Box 210, 8380 Nunc Ave",
                "city": "Duffel"
            },
            {
                "name": "Megan Burnett",
                "email": "elit@disparturientmontes.ca",
                "phone": "+31-576-817-760",
                "addres": "P.O. Box 987, 2621 Nunc Avenue",
                "city": "Lairg"
            },
            {
                "name": "Sheila Carroll",
                "email": "Sed@quis.ca",
                "phone": "+31-932-348-788",
                "addres": "P.O. Box 305, 8631 Tempor Rd.",
                "city": "Sousa"
            },
            {
                "name": "Aurora Dickson",
                "email": "tortor.Nunc@facilisisSuspendisse.net",
                "phone": "+31-849-274-923",
                "addres": "236-8258 Libero St.",
                "city": "Rutland"
            },
            {
                "name": "Lavinia Mendez",
                "email": "posuere.enim@cursusdiamat.edu",
                "phone": "+31-656-324-795",
                "addres": "552-4680 In St.",
                "city": "Thame"
            },
            {
                "name": "Chase Clayton",
                "email": "dictum.Proin.eget@nascetur.ca",
                "phone": "+31-257-956-569",
                "addres": "P.O. Box 682, 9772 Orci. Ave",
                "city": "Dampicourt"
            },
            {
                "name": "Celeste Adkins",
                "email": "lorem@dictum.com",
                "phone": "+31-777-423-148",
                "addres": "281-3894 Amet, St.",
                "city": "Kettering"
            },
            {
                "name": "Jasmine Massey",
                "email": "vehicula@Duisac.edu",
                "phone": "+31-801-709-343",
                "addres": "776-1926 Lorem, Av.",
                "city": "Windsor"
            },
            {
                "name": "Yolanda Pugh",
                "email": "aliquet.diam@Donecegestas.ca",
                "phone": "+31-571-247-107",
                "addres": "P.O. Box 716, 2164 Non St.",
                "city": "Montemignaio"
            },
            {
                "name": "Xyla Wiggins",
                "email": "non@Aliquamrutrum.org",
                "phone": "+31-567-423-470",
                "addres": "483-1356 Inceptos Road",
                "city": "Ripacandida"
            },
            {
                "name": "Ursula Bernard",
                "email": "ut.eros.non@tinciduntnibhPhasellus.net",
                "phone": "+31-846-184-923",
                "addres": "752-1055 Aliquet St.",
                "city": "Santa Luzia"
            },
            {
                "name": "Neil Wells",
                "email": "Maecenas@enimcondimentum.edu",
                "phone": "+31-269-760-827",
                "addres": "8216 Ut Road",
                "city": "Presles"
            },
            {
                "name": "Abigail Walton",
                "email": "ipsum@utdolor.co.uk",
                "phone": "+31-317-657-264",
                "addres": "971-4583 Vel, Ave",
                "city": "Saint Louis"
            },
            {
                "name": "Elliott Matthews",
                "email": "auctor.odio.a@maurisaliquameu.net",
                "phone": "+31-245-156-639",
                "addres": "P.O. Box 972, 2725 Vulputate Street",
                "city": "Joliet"
            },
            {
                "name": "Davis Higgins",
                "email": "orci@enim.net",
                "phone": "+31-303-367-290",
                "addres": "5225 Massa. St.",
                "city": "Rovereto"
            },
            {
                "name": "Gisela Salas",
                "email": "In.ornare@ipsumleo.net",
                "phone": "+31-364-787-965",
                "addres": "P.O. Box 696, 4965 Proin Av.",
                "city": "Ghislarengo"
            },
            {
                "name": "Graiden Mcmahon",
                "email": "molestie@Namconsequatdolor.co.uk",
                "phone": "+31-746-861-438",
                "addres": "P.O. Box 732, 8408 Velit St.",
                "city": "Brora"
            },
            {
                "name": "Lance Soto",
                "email": "sagittis.semper@diam.net",
                "phone": "+31-246-546-920",
                "addres": "9450 Sociis Rd.",
                "city": "Heule"
            },
            {
                "name": "Jillian Sandoval",
                "email": "at.auctor@nisl.co.uk",
                "phone": "+31-641-771-637",
                "addres": "Ap #594-8128 Ante Road",
                "city": "Bekkerzeel"
            },
            {
                "name": "Regan Hayes",
                "email": "Mauris.eu.turpis@Namnulla.net",
                "phone": "+31-980-162-401",
                "addres": "7182 Justo St.",
                "city": "Santa Inês"
            },
            {
                "name": "Skyler Baxter",
                "email": "Donec.fringilla.Donec@vitae.edu",
                "phone": "+31-815-957-888",
                "addres": "6413 Diam. Avenue",
                "city": "Nuneaton"
            },
            {
                "name": "Mariam Mcbride",
                "email": "varius.et@interdumfeugiatSed.com",
                "phone": "+31-974-432-449",
                "addres": "Ap #535-9063 Metus. Av.",
                "city": "Kemzeke"
            },
            {
                "name": "Hollee Compton",
                "email": "amet.lorem.semper@tinciduntnibhPhasellus.com",
                "phone": "+31-966-580-603",
                "addres": "Ap #447-1756 Cras Ave",
                "city": "Cagli"
            },
            {
                "name": "Veronica Higgins",
                "email": "ante@facilisis.co.uk",
                "phone": "+31-289-346-948",
                "addres": "712-8213 Dis Rd.",
                "city": "Częstochowa"
            },
            {
                "name": "Suki Clemons",
                "email": "cursus.luctus.ipsum@Integer.ca",
                "phone": "+31-115-386-329",
                "addres": "Ap #665-5164 Amet Av.",
                "city": "Canterbury"
            },
            {
                "name": "Zelda Singleton",
                "email": "felis.Nulla.tempor@idblandit.org",
                "phone": "+31-408-312-380",
                "addres": "Ap #741-9054 Consectetuer Avenue",
                "city": "Emmen"
            },
            {
                "name": "Evangeline Maddox",
                "email": "Proin.vel@dolorFuscefeugiat.com",
                "phone": "+31-284-989-002",
                "addres": "8292 Egestas. St.",
                "city": "Norderstedt"
            },
            {
                "name": "Logan Bates",
                "email": "eros@nuncQuisqueornare.org",
                "phone": "+31-227-828-482",
                "addres": "Ap #904-6574 Lacus. St.",
                "city": "Kitzbühel"
            },
            {
                "name": "Macy Santiago",
                "email": "lacus.vestibulum.lorem@felisullamcorperviverra.ca",
                "phone": "+31-587-519-112",
                "addres": "7328 Sit Ave",
                "city": "Vihari"
            },
            {
                "name": "Sade Noel",
                "email": "in@risusDuisa.com",
                "phone": "+31-624-244-878",
                "addres": "911-582 Donec Ave",
                "city": "Penna San Giovanni"
            },
            {
                "name": "Rooney Little",
                "email": "arcu.Vestibulum@interdumSed.ca",
                "phone": "+31-916-691-227",
                "addres": "Ap #740-1951 Pellentesque Street",
                "city": "Marburg"
            },
            {
                "name": "Aretha Burt",
                "email": "est.Mauris.eu@leoinlobortis.co.uk",
                "phone": "+31-803-207-823",
                "addres": "P.O. Box 915, 3055 At Road",
                "city": "Birmingham"
            },
            {
                "name": "Amelia Barlow",
                "email": "Nam.ligula@magnatellusfaucibus.ca",
                "phone": "+31-386-463-820",
                "addres": "126-9169 In St.",
                "city": "Malgesso"
            },
            {
                "name": "Christen Bullock",
                "email": "nec.mauris.blandit@Duisgravida.co.uk",
                "phone": "+31-799-845-920",
                "addres": "P.O. Box 667, 5125 Lacinia Ave",
                "city": "Vannes"
            },
            {
                "name": "Kaye Morin",
                "email": "per.conubia.nostra@nuncsed.ca",
                "phone": "+31-802-610-801",
                "addres": "146-7313 Dictum Rd.",
                "city": "Columbus"
            },
            {
                "name": "Macy Reilly",
                "email": "nunc.est.mollis@vitaediamProin.net",
                "phone": "+31-641-738-803",
                "addres": "141-1649 Tellus Road",
                "city": "Comblain-au-Pont"
            },
            {
                "name": "Zachary Snow",
                "email": "at@pretiumaliquetmetus.net",
                "phone": "+31-728-253-604",
                "addres": "224-2700 Dui. Rd.",
                "city": "Arzano"
            },
            {
                "name": "Troy Campos",
                "email": "quis.diam@rutrumnonhendrerit.co.uk",
                "phone": "+31-581-405-849",
                "addres": "P.O. Box 380, 2771 Dictum Rd.",
                "city": "Motta Sant'Anastasia"
            },
            {
                "name": "Herrod Booker",
                "email": "urna.Nullam@diamat.com",
                "phone": "+31-636-395-197",
                "addres": "Ap #304-8764 Et, St.",
                "city": "Zaventem"
            },
            {
                "name": "Amelia Erickson",
                "email": "purus.gravida@dictumPhasellus.org",
                "phone": "+31-866-113-742",
                "addres": "P.O. Box 713, 4352 Vulputate, St.",
                "city": "Henis"
            },
            {
                "name": "Jescie Carson",
                "email": "ante.dictum@Vivamusmolestiedapibus.com",
                "phone": "+31-404-169-984",
                "addres": "Ap #679-7715 Cras Rd.",
                "city": "Madrid"
            },
            {
                "name": "Bruno Terry",
                "email": "luctus.vulputate@Quisque.org",
                "phone": "+31-756-603-261",
                "addres": "P.O. Box 407, 7363 Sed Rd.",
                "city": "Capannori"
            },
            {
                "name": "Keegan Johns",
                "email": "Nunc.sed.orci@DonectinciduntDonec.com",
                "phone": "+31-820-994-377",
                "addres": "7276 Suspendisse Road",
                "city": "Invergordon"
            },
            {
                "name": "Cameran Horn",
                "email": "sit@tortordictum.co.uk",
                "phone": "+31-921-777-834",
                "addres": "6597 Dictum Rd.",
                "city": "Narcao"
            },
            {
                "name": "Idona Moses",
                "email": "rutrum@necmaurisblandit.org",
                "phone": "+31-272-572-652",
                "addres": "912-6639 Urna. St.",
                "city": "Burin"
            },
            {
                "name": "Uriel House",
                "email": "a.auctor.non@Sed.org",
                "phone": "+31-594-181-122",
                "addres": "1357 Ligula Ave",
                "city": "Bernau"
            },
            {
                "name": "Gloria Blevins",
                "email": "Quisque.ornare.tortor@acipsumPhasellus.com",
                "phone": "+31-272-941-316",
                "addres": "Ap #202-9296 Sociis Av.",
                "city": "Fairbanks"
            },
            {
                "name": "Denton Manning",
                "email": "mi.Duis@euismodmauriseu.ca",
                "phone": "+31-911-876-754",
                "addres": "636-3302 In Avenue",
                "city": "Louvain-la-Neuve"
            },
            {
                "name": "Blake Sears",
                "email": "luctus@Vivamusnon.org",
                "phone": "+31-703-635-898",
                "addres": "P.O. Box 643, 7718 Iaculis Road",
                "city": "Livo"
            },
            {
                "name": "Melvin Henson",
                "email": "ante@maurisMorbi.ca",
                "phone": "+31-806-732-620",
                "addres": "Ap #563-8216 Hendrerit Ave",
                "city": "Boston"
            },
            {
                "name": "Jack Knox",
                "email": "Mauris.ut@Fuscemollis.ca",
                "phone": "+31-612-659-639",
                "addres": "P.O. Box 117, 5981 Integer Rd.",
                "city": "Faizabad"
            },
            {
                "name": "Colin Nielsen",
                "email": "vulputate.nisi@acnulla.edu",
                "phone": "+31-724-567-285",
                "addres": "P.O. Box 419, 7119 Morbi Street",
                "city": "Warrnambool"
            },
            {
                "name": "Ryder Huber",
                "email": "dictum.ultricies.ligula@placerat.ca",
                "phone": "+31-706-694-929",
                "addres": "948-2955 Aliquam St.",
                "city": "Oyo"
            },
            {
                "name": "Brody Ewing",
                "email": "Quisque.libero@eunulla.org",
                "phone": "+31-354-862-031",
                "addres": "8391 Nunc Street",
                "city": "Quesada"
            },
            {
                "name": "Jemima Stark",
                "email": "Aliquam.ornare@Sed.co.uk",
                "phone": "+31-100-405-497",
                "addres": "3212 Auctor Ave",
                "city": "San Isidro de El General"
            },
            {
                "name": "Candice Obrien",
                "email": "leo@InfaucibusMorbi.com",
                "phone": "+31-560-126-526",
                "addres": "Ap #673-788 Neque Ave",
                "city": "Vancouver"
            },
            {
                "name": "Sean Giles",
                "email": "Quisque@consectetuer.net",
                "phone": "+31-610-449-078",
                "addres": "P.O. Box 516, 4143 Penatibus Road",
                "city": "Mogi das Cruzes"
            },
            {
                "name": "Tamara Mosley",
                "email": "erat.vitae.risus@venenatis.org",
                "phone": "+31-538-797-769",
                "addres": "9598 Nunc Ave",
                "city": "Casoli"
            },
            {
                "name": "Nita Daniel",
                "email": "malesuada@orciUtsagittis.co.uk",
                "phone": "+31-202-625-781",
                "addres": "1274 Neque Ave",
                "city": "Dereham"
            },
            {
                "name": "Bell Cochran",
                "email": "lobortis@Nullafacilisi.org",
                "phone": "+31-976-374-265",
                "addres": "P.O. Box 847, 1900 Ut St.",
                "city": "Wolfville"
            },
            {
                "name": "Callum Morrow",
                "email": "non@liberoProin.com",
                "phone": "+31-999-843-654",
                "addres": "P.O. Box 504, 2537 Mauris. Rd.",
                "city": "Impe"
            },
            {
                "name": "Colin Day",
                "email": "tincidunt.congue@cursus.edu",
                "phone": "+31-849-884-487",
                "addres": "P.O. Box 386, 7936 Mus. Avenue",
                "city": "Rosolini"
            },
            {
                "name": "Henry Richardson",
                "email": "quam.vel@Curabiturmassa.edu",
                "phone": "+31-465-881-451",
                "addres": "Ap #124-5092 Ornare. Street",
                "city": "Eckville"
            },
            {
                "name": "Isaiah Le",
                "email": "Vivamus.nibh@tellusAenean.net",
                "phone": "+31-871-661-827",
                "addres": "P.O. Box 571, 1561 Sem Rd.",
                "city": "Swan Hills"
            },
            {
                "name": "Galena Crane",
                "email": "Integer@ultriciessemmagna.com",
                "phone": "+31-725-136-506",
                "addres": "224-3129 Auctor Rd.",
                "city": "Burnpur"
            },
            {
                "name": "Noel Wyatt",
                "email": "et@Nunc.org",
                "phone": "+31-478-309-673",
                "addres": "342-710 Et, Rd.",
                "city": "Saint-Remy"
            },
            {
                "name": "Palmer Marks",
                "email": "amet@vitae.com",
                "phone": "+31-429-529-077",
                "addres": "P.O. Box 552, 1018 A Rd.",
                "city": "Canora"
            },
            {
                "name": "Breanna Stanton",
                "email": "non.nisi@antedictumcursus.org",
                "phone": "+31-756-937-414",
                "addres": "P.O. Box 991, 9131 Amet Rd.",
                "city": "Bever Bievene"
            },
            {
                "name": "Bruce Estes",
                "email": "neque.Nullam@ametnulla.co.uk",
                "phone": "+31-230-540-441",
                "addres": "6020 Sit Av.",
                "city": "Ternitz"
            }
        ];
    })
</script>
</body>
</html>