<!DOCTYPE html>
<html>
<head lang="nl">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body ng-app="demo">

    <div class="container">

        <h1>Filters</h1>

        <!-- Filters transform variables before displaying them. A filter can be applied to an expression by
        adding a pipe (|) after the expression, followed by the name of the filter. Multiple filters can be applied
        to 1 expression. Filters accept arguments by adding a colon and the argument.

        Example:

        {{ name | lowercase }} Transforms the name into lowercase characters

        {{ theDate | date }} Parses theDate into a human readable date

        {{ theDate | date:'dd-mm-YYYY' }} Parses theDate in the given format


        -->

        <!-- Echo the entered name, reversed. Add {amount} exclamation marks -->
        <h2>Hello world, {{name |reverse}} {{'!'|repeat:amount}}</h2>

        <div class="form-group">
            <label for="name">Naam</label>
            <input class="form-control" type="text" id="name" ng-model="name">
        </div>

        <div class="form-group">
            <label for="amount">Aantal</label>

            <input class="form-control" type="number" id="amount" ng-model="amount">
        </div>

        <div class="form-group">
            <label for="cost">Bedrag</label>

            <input class="form-control" type="number" id="cost" ng-model="cost">
        </div>

        <div class="form-group">
            <label for="cost">Bedrag</label>
            <!--
                Build in filter. The used currency is based on the system locale of the user.
                You can add the currency symbol using {{cost | currency: "€"}}, or force a specific locale (e.g. Dutch)
                throughout your app by loading the desired locale after the main angular file.
                A list of available locales can be found at https://github.com/angular/angular.js/tree/master/src/ngLocale

                Other build in filters include:
                date, uppercase, lowercase,
            -->
            {{ cost | currency }}
        </div>

    </div>


    <!-- Load angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>

    <!-- Load our scripts -->
    <script src="js/app.js"></script>
    <script src="js/filters/reverse.js"></script>
    <script src="js/filters/repeat.js"></script>

</body>
</html>