<div class="col-xs-12">
    <h2>Settings</h2>
</div>
<div class="col-xs-4">

    <div class="form-group">
        <label for="name">Naam</label>
        <input class="form-control" type="text" id="name" ng-model="profileCtrl.name">
    </div>

    <div class="form-group">
        <label for="email">Email</label>

        <input class="form-control" type="email" id="email" ng-model="profileCtrl.email">
    </div>

    <div class="form-group">
        <label for="phone">Telefoon</label>

        <input class="form-control" type="text" id="phone" ng-model="profileCtrl.phone">
    </div>
</div>
